body {
  padding: 20px;
  color: #333;
}

h1 {
  font-weight: 300;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 5px 0;
  font-size: 13px;
}
