%h1
    Drum & Bass Hotness Top 5 on Soundcloud
.tracks
    %script{ type: 'text/template', id: 'trackTemplate' }
        %p
            playback count: <%= playback_count %>
            &middot;
            favoritings count: <%= favoritings_count %>
        <iframe src="http://w.soundcloud.com/player?url=http://api.soundcloud.com/tracks/<%= id %>" width="100%" frameborder="no">

%script{ src: 'http://code.jquery.com/jquery-2.0.3.min.js' }
%script{ src: 'http://underscorejs.org/underscore.js' }
%script{ src: 'http://backbonejs.org/backbone.js' }
%script{ src: 'https://connect.soundcloud.com/sdk.js' }
