<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Intrinsic SoundCloud</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
  <link rel="stylesheet" href="css/theme.css" type="text/css" />
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <script src="js/modernizr.js"></script>
</head>

<body onload="playSomeMusic('electronic')">
<a name="top"></a>
<div class="page">
<nav>
  <ul>
  <a href="#" onclick="playSomeMusic('alternative')" class="polygon hexagon">♪ Alternative</a>
  <a href="#" onclick="playSomeMusic('dance')" class="polygon hexagon">♪ Dance</a>
  <a href="#" onclick="playSomeMusic('reggae')" class="polygon hexagon">♪ Reggae</a>
  <a href="#" onclick="playSomeMusic('world')" class="polygon hexagon">♪ World</a>
</ul>
</nav>
<section>
<div id="target"></div>
<div id="legend">
<h4><img src="svg/mixer.svg" id="icon" onerror="this.onerror=null; this.src='image.png'"><br> Instructions</h4>
<h5>• Electronic is the default genre in the above randomizer.</h5>
<h5>• The genres can be changed by selecting one of the four categories at the top.</h5>
<h5>• A visualizer can be opened below to enjoy while listening to tunes.</h5>
</div>
<div class="toggler">
    <span class="open"><h4><i class="fa fa-chevron-down"></i> Click to Open Visualizer</h4></span>
    <div><canvas class='c'>spiral</canvas></div>
</div>
</section>
<hr>
  <h2>Top 5 Deep House Tracks on Soundcloud</h2>
<div class='tracks'>
  <script id='trackTemplate' type='text/template'>
    <p>
      playback count: <%= playback_count %>
      &middot;
      favoritings count: <%= favoritings_count %>
    </p>
    <iframe src="http://w.soundcloud.com/player?url=http://api.soundcloud.com/tracks/<%= id %>" width="100%" frameborder="no">
  </script>
</div>
<hr>
<footer>
<table class="footer">
  <tr>
    <td style="width: 33%;"><i class="fa fa-users"></i><span class="headingtitle"> Sign-Up for SoundCloud</span><br>
      </td>
    <td style="width: 33%;"><i class="fa fa-thumbs-up"></i><span class="headingtitle"> Recommended Accounts</span><br>
      </td>
    <td style="width: 33%;"><i class="fa fa-cloud-download"></i><span class="headingtitle"> Download App File</span><br>
      </td>
  <tr>
</table>
<table class="footer">
  <tr>
    <td style="width: 33%;"><a href="https://soundcloud.com/"><button class="pure-button" type="submit" id="randomize"><i class="fa fa-chevron-circle-right"></i>  Create Account</button></a> </td>
    <td style="width: 33%;">
      <a href="https://soundcloud.com/duskymusic" class="pagelink"> • Dusky</a><br>
      <a href="https://soundcloud.com/aboveandbeyond" class="pagelink"> • Above & Beyond</a><br>
      <a href="https://soundcloud.com/felix-da-housecat" class="pagelink">• Felix Da Housecat</a><br>
      <a href="https://soundcloud.com/w00tology" class="pagelink"> • Matt Zo</a><br>
      <a href="https://soundcloud.com/andrewbayer" class="pagelink"> • Andrew Bayer</a><br></td> </td>
    <td style="width: 33%;"><a href="downloads/intrinsic.zip"><button class="pure-button pure-button-primary" type="submit" id="randomize"><i class="fa fa-chevron-circle-right"></i> Download Zip File</button></a></td>
  <tr>
</table>
<table class="footer">
  <tr>
    <td style="width: 50%;">© 2014 Dominic Filipek</td>
    <td style="width: 50%; text-align: right;"><a href="#top" class="pagelink"><i class="fa fa-chevron-up"></i> Back to Top</a></td>
  <tr>
</table>
</footer>
</div>
<script type="text/javascript" src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
<script type="text/javascript" src='http://underscorejs.org/underscore.js'></script>
<script type="text/javascript" src='http://backbonejs.org/backbone.js'></script>
<script type="text/javascript" src='https://connect.soundcloud.com/sdk.js'></script>
<script type="text/javascript" src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
<script type="text/javascript" src="js/intrinsic.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/expander.js"></script>
<script type="text/javascript" src="js/visualizer.js"></script>
<script type="text/javascript" src="js/prefixfree.min.js"></script>


</body>
</html>